*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.wrapper{

    width: 300px;
    height: 100px;
    position: absolute;
    top: 11%;
    right: 45%;
    transform: translate(-50%,-50%);
}

.header{
    color: rgb(253, 253, 253);
    justify-content: center; /* Căn giữa theo chiều ngang */
    padding: 10px;
    height: 80px;
    width: 650px;
    border-radius: 40px;
    align-items: center; 
    display: flex;
    box-shadow: 30px 30px 30px -10px rgba(0,0,0,0.15),
    inset -1px -1px 10px rgba(0,0,0,0.2 ),
    -15px -15px 35px rgba(255,255,255,0.55);
    background-color:rgba(0, 0, 0, 0.61);
    margin: 1px;

}

nav{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0,0.1);
    z-index: 1000;
    transition: ease-in-out 0.5s;   
}

nav.hide {
    width: 0;
}

nav ul{
    width: 100%;
    list-style: none;
    overflow: hidden;
}


nav ul li a{
    width: 100%;
    color: #1e90ff;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 15px;
    transition: linear 0.5s;
}
nav ul li a ion-icon{
    margin: 0 20px;
    color: #1e90ff;
    font-size: 1.2em;
    transition: linear 0.2s;
}

nav ul li a:hover {
    background: #1e90ff;
    color: #ffffff;
}

nav ul li a:hover ion-icon {
    color: #ffffff;
}

.content {
    position: absolute;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: ease-in-out 0.5s;
}
.content.expand {
    width: 100%;
    left: 0;
}

.content h2{
    font-size: 4.5em;
    color: #1e90ff;
    text-transform: uppercase;
}

nav .toggle_menu {
    position: absolute;
    top: 90px;
    right: -46px;
    width: 45px;
    height: 45px;
    display: flex;          
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    border-radius: 0 10px 10px 0; 
    cursor: pointer;
    transition: linear 0.2s;
}

nav .toggle_menu ion-icon {
    color: #1e90ff;
    font-size: 1.5em;
    transition:  linear 0.2s;
}

nav .toggle_menu:hover {
    background: #1e90ff;
}

nav .toggle_menu:hover ion-icon {
    color: #ffffff;
}

/*------------------------------footer-------------------*/
footer{
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    min-height: 150px;
    position: absolute;
    top: 160%;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: #000000;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: #ffffff;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}


h3 {
    display: flex;
    margin-left: 15%;
    align-items: 5px;
    font-size: 40px;
    font-style: italic;
    font-family: cambria;
    margin: 20px 0;
}

.imageChange {
    max-width: 80px;
    height: auto;
    }