*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

#header{
    background: rgba(0, 0, 0, 0.61);
    color: rgb(253, 253, 253);
    padding: 5px;

}

nav{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0,0.1);
    z-index: 1000;
    transition: ease-in-out 0.5s;   
}

nav.hide {
    width: 0;
}

nav ul{
    width: 100%;
    list-style: none;
    overflow: hidden;
}


nav ul li a{
    width: 100%;
    color: #1e90ff;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 15px;
    transition: linear 0.5s;
}
nav ul li a ion-icon{
    margin: 0 20px;
    color: #1e90ff;
    font-size: 1.2em;
    transition: linear 0.2s;
}

nav ul li a:hover {
    background: #1e90ff;
    color: #ffffff;
}

nav ul li a:hover ion-icon {
    color: #ffffff;
}

.content {
    position: absolute;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: ease-in-out 0.5s;
}
.content.expand {
    width: 100%;
    left: 0;
}

.content h2{
    font-size: 4.5em;
    color: #1e90ff;
    text-transform: uppercase;
}

nav .toggle_menu {
    position: absolute;
    top: 100px;
    right: -46px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    border-radius: 0 10px 10px 0; 
    cursor: pointer;
    transition: linear 0.2s;
}

nav .toggle_menu ion-icon {
    color: #1e90ff;
    font-size: 1.5em;
    transition:  linear 0.2s;
}

nav .toggle_menu:hover {
    background: #1e90ff;
}

nav .toggle_menu:hover ion-icon {
    color: #ffffff;
}

/*------------------------------footer-------------------*/
footer{
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    min-height: 150px;
    position: absolute;
    top: 160%;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: #000000;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: #ffffff;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

/*-------------------------------*/

h3 {
    display: flex;
    margin-left: 15%;
    align-items: 5px;
    font-size: 40px;
    font-style: italic;
    font-family: cambria;
    margin: 20px 0;
}

.imageChange {
    max-width: 80px;
    height: auto;
    }
    .container {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        background: white;
    }
    
    .header, .navbar, .logo, .menu, .body-content {
        width: 100%;
        padding: 0px;
        margin: 0px;
        background: white;
    }
    
    .navbar {
        height: 30px;
        border-bottom: solid #e6e8e8 1px;
    }
    
    .navbar .left {
        float: left;
        padding: 10px;
    }
    
    .navbar .right {
        float: right;
        padding: 10px;
    }
    
    .logo {
        display: inline-block;
    }
    
    .logo .search-form {
        float: right;
        margin-top: 25px;
        margin-right: 10px;
        padding: 3px;
        border: solid #b8b8b8 1px;
        border-radius: 5px;
    }
    
    .logo .search-form input {
        width: 250px;
        font-size: 20px;
        border: none;
        outline: none;
    }
    
    .logo .search-form input:hover {
        border: none;
        outline: none;
    }
    
    .logo .search-form button {
        font-size: 20px;
        border: none;
        background: transparent;
    }
    
    .menu {
        background: #439c66;
    }
    
    .menu ul {
        display: flex;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    
    .menu ul li {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 15px;
        cursor: pointer;
    }
    
    .menu ul li:hover {
        background: #9c7e43;
    }
    
    .body-content {
        display: flex;
    }
    
    .main-content {
        width: 70%;
        float: left;
        background: white;
        height: 100%;
    }
    
    .menu-right {
        width: 30%;
        float: left;
        background: white;
    }
    
    .row {
        width: 100%;
        display: flex;
    }
    
    .col-4 {
        width: calc(100%/3);
        float: left;
    }
    
    .col-8 {
        width: calc(2 * 100%/3);
        float: left;
    }
    
    .group {
        width: 100%;
        display: block;
    }
    
    .group h2 {
        background: #439c66;
        padding: 10px;
        color: white;
    }
    
    .content {
        padding: 10px;
    }